<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>opam</string>
	</array>
	<key>name</key>
	<string>opam</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>include</key>
			<string>#comments</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#fields</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#values</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>comments</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>\(\*</string>
					<key>comment</key>
					<string>block comment</string>
					<key>end</key>
					<string>\*\)</string>
					<key>name</key>
					<string>comment.block.opam</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>#</string>
					<key>comment</key>
					<string>line comment</string>
					<key>end</key>
					<string>$</string>
					<key>name</key>
					<string>comment.line.opam</string>
				</dict>
			</array>
		</dict>
		<key>fields</key>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.opam</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.opam</string>
				</dict>
			</dict>
			<key>comment</key>
			<string>labeled field</string>
			<key>match</key>
			<string>^([[:word:]-]*[[:alpha:]][[:word:]-]*)(:)</string>
		</dict>
		<key>string-elements</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>comment</key>
					<string>escaped backslash</string>
					<key>match</key>
					<string>\\\\</string>
					<key>name</key>
					<string>constant.character.escape.opam</string>
				</dict>
				<dict>
					<key>comment</key>
					<string>escaped quote or whitespace</string>
					<key>match</key>
					<string>\\["ntbr\n]</string>
					<key>name</key>
					<string>constant.character.escape.opam</string>
				</dict>
				<dict>
					<key>comment</key>
					<string>character from decimal ASCII code</string>
					<key>match</key>
					<string>\\[[:digit:]]{3}</string>
					<key>name</key>
					<string>constant.character.escape.opam</string>
				</dict>
				<dict>
					<key>comment</key>
					<string>character from hexadecimal ASCII code</string>
					<key>match</key>
					<string>\\x[[:xdigit:]]{2}</string>
					<key>name</key>
					<string>constant.character.escape.opam</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>%\{</string>
					<key>comment</key>
					<string>variable interpolation</string>
					<key>end</key>
					<string>}\%</string>
					<key>name</key>
					<string>constant.variable.opam</string>
				</dict>
				<dict>
					<key>comment</key>
					<string>unknown escape sequence</string>
					<key>match</key>
					<string>\\.</string>
					<key>name</key>
					<string>invalid.illegal.unknown-escape.opam</string>
				</dict>
			</array>
		</dict>
		<key>values</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>comment</key>
					<string>boolean literal</string>
					<key>match</key>
					<string>\b(true|false)\b</string>
					<key>name</key>
					<string>constant.language.opam</string>
				</dict>
				<dict>
					<key>comment</key>
					<string>integer literal</string>
					<key>match</key>
					<string>(\b|\-?)[[:digit:]]+\b</string>
					<key>name</key>
					<string>constant.numeric.decimal.opam</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>"</string>
					<key>comment</key>
					<string>double-quote string literal</string>
					<key>end</key>
					<string>"</string>
					<key>name</key>
					<string>string.quoted.double.opam</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#string-elements</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>"""</string>
					<key>comment</key>
					<string>triple-double-quote string literal</string>
					<key>end</key>
					<string>"""</string>
					<key>name</key>
					<string>string.quoted.triple-double.opam</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#string-elements</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>comment</key>
					<string>operator</string>
					<key>match</key>
					<string>[!=&lt;&gt;\|&amp;?:]+</string>
					<key>name</key>
					<string>keyword.operator.opam</string>
				</dict>
				<dict>
					<key>comment</key>
					<string>identifier</string>
					<key>match</key>
					<string>\b([[:word:]+-]+)\b</string>
					<key>name</key>
					<string>variable.parameter.opam</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.ocaml.opam</string>
</dict>
</plist>
