html, body {
  font-size: 1.05em;
  font-family: 'Ubuntu', sans-serif;
}

/* Some basic stylings à la SimpleGrid */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p, li {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: solid rgba(255, 165, 0, 0.4);
}

a:hover {
  border-bottom: solid rgba(255, 165, 0, 1);
}

.title-link {
  text-decoration: none;
  color: black;
}

summary {
  font-size: 1.1em;
  margin: 5% 0%;
}

h2, h3 {
  margin-top: 5%;
}

.link {
  color: orange;
}

.link:hover {
  color: orange;
}

code {
  font-family: 'Roboto Mono', monospace;
  border-radius: 5px;
  background: lemonchiffon;
  padding: 0px 3px;
}

.global-wrapper {
  padding: 0% 5%;
}

.nav-ul {
  padding-left: 0;
}

.nav-button {
  list-style-type: none;
  padding-left: 0;
  height: 100%;
}

img {
  width: 100%;
}

/* ==== FLEX RULES ==== */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  width: 100%;
  justify-content: space-around;
}

.flex-vert {
  justify-content: center;
}

/* === EXPLORE SPECIFIC RULES === */

.skip-to-content { 
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content:focus {
  transform: translateY(0%);
}


.index-a {
  text-decoration: none;
  color: inherit;
}

.index-a:hover {
  text-decoration: none;
}

.index-div {
  padding: 0rem 0.8rem;
  margin: 0.8rem;
  border: thin solid grey;
  border-radius: 2px;
  transition: all ease-in-out 300ms;
}

.index-div:hover {
  background-color: rgba(255, 94, 0, 0.7);
  color: white;
}

.mob-menu-item {
  width: 100%;
  margin-top: 1em;
}

.mob-menu-list {
  width: 100% !important;
  background: white;
}

main h2, main h3 {
  margin-top: 3rem;
}

main h1, main h2 {
  /* border-bottom: 1px solid gray; */
  /* padding-bottom: .22rem; */
  margin-bottom: 1.5rem
}

/* === COMPONENTS === */

.ordered-list {
  margin-bottom: .5em;
}

.details {
  margin: .5em;
  padding: .5em;
  border: solid thin lightgray;
  border-radius: 2px;
}

.details-tools {
  margin: .3em;
  padding: .3em;
}

#edit {
  margin-top: 3em;
}

.incubate {
  background-color: #b3eeeb;
}

.active {
  background-color: #c2e39e;
}

.sustain {
  background-color: #EDCD97;
}

.deprecate {
  background-color: #C68677;
}

.toolbar {
  text-align: right;
}

/* === TOC === */
.toc {
  list-style-type: none;
  margin-bottom: 1.1em;
}

.toc-link {
  font-size: 0.9em;
}

.toc-li {
  line-height: 1.2em;
}

.toc-container {
  margin-left: -2em;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  padding: 1em;
  top: 1em;
}

/* === HIDING ELEMENTS === */
/* https://github.com/pure-css/pure/issues/326#issuecomment-44477601 */

/* pure-hidden-xs */
@media screen and (max-width:35.438em) {
  .pure-visible-sm{display:none}
  .pure-visible-md{display:none}
  .pure-visible-lg{display:none}
  .pure-visible-xl{display:none}
  .pure-hidden-xs{display:none}
}
/* pure-hidden-sm */
@media screen and (min-width:35.5em) and (max-width:47.938em) {
  .pure-visible-xs{display:none}
  .pure-visible-md{display:none}
  .pure-visible-lg{display:none}
  .pure-visible-xl{display:none}
  .pure-hidden-sm{display:none}
}
/* pure-hidden-md */
@media screen and (min-width:48em) and (max-width:63.938em) {
  .pure-visible-xs{display:none}
  .pure-visible-sm{display:none}
  .pure-visible-lg{display:none}
  .pure-visible-xl{display:none}
  .pure-hidden-md{display:none}
}
/* pure-hidden-lg */
@media screen and (min-width:64em) and (max-width:79.938em) {
  .pure-visible-xs{display:none}
  .pure-visible-sm{display:none}
  .pure-visible-md{display:none}
  .pure-visible-xl{display:none}
  .pure-hidden-lg{display:none}
}
/* pure-hidden-xl */
@media screen and (min-width:80em) {
  .pure-visible-xs{display:none}
  .pure-visible-sm{display:none}
  .pure-visible-md{display:none}
  .pure-visible-lg{display:none}
  .pure-hidden-xl{display:none}
}
